<section class="free-access">
    <div class="container flex --just-space">
        <div class="free-access__pic"></div>
        <div class="free-access__text">
            <h2 class="free-access__title title"><span>Бесплатный</span> доступ</h2>
            <div class="free-access__descr">
                <span>JustLavka</span> предоставляет <span>бесплатный доступ</span> для 
                пользователей, а комиссия взимается только за успешно 
                проданные товары. Это отличная возможность начать 
                использовать платформу без лишних вложений и рисков.
            </div>
            <a class="free-access__button" href=""><button class="accent-button">Создать интернет-магазин</button></a>
            <a class="free-access__button" href=""><button class="free-access__button-video --svg__play-before">Посмотреть видео</button></a>
            <!-- <button ></button>
            <button ></button> -->
        </div>
    </div>
</section>