button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: .2rem;
    color: $accent-color;
    font-size: 2.4rem;
    font-weight: 700;
    background: #fff;
    cursor: pointer;
}

button.accent-button{
    color: #fff;
    background: $accent-color;
    border: .1rem solid #CA1E5C;
    box-shadow: 0 0 1.6rem 0 rgba(221, 57, 116, 0.49);
}