@media (max-width: 1199px) {
    .free-access{
        padding-top: 9.2rem;
        min-height: 58.3rem;
        .container{
            gap: 1.7rem;
            width: 86.5rem;
            margin-left: 1.5rem;
            .free-access__pic{
                width: 38.8rem;
                height: 50rem;
            }
            .free-access__text{
                padding-top: 1.3rem;
                width: 46rem;
                .free-access__descr{
                    margin-top: 3.9rem;
                    font-size: 2rem;
                }
                .free-access__button:nth-child(3){
                    margin-top: 3.9rem;
                }
                .free-access__button:nth-child(4){
                    margin-top: 2.7rem;
                }
            }
        }
    }
}