<header class="header flex --align-center">
    <div class="container flex --just-space --align-center">
        <div class="header__descr">Автоматизированная платформа цифровых магазинов в Telegram</div>
        <div class="header__logo-wrap flex --just-center --align-center">
            <div class="header__logo --svg__logo"></div>
        </div>
        <div class="header__links flex --just-center --align-center">
            <a href="https://t.me/DemoLavka_bot" class="header__link-demo --svg__header-icon-before --svg__header-icon-after">ДЕМО-магазин</a>
            <a href="https://t.me/justlavkabot" class="header__link-create">Создать <br> интернет-магазин</a>
        </div>
    </div>
</header>
