<section class="advantages">
    <div class="container">
        <h2 class="title-white"><span>Преимущества</span> JustLavka</h2>
        <div class="advantages__wrapper flex --just-space">
            <div class="advantages__switches flex --dir-col">
                <div class="advantages__switch --svg__advantages-switch_icon-after advantages__switch-active">Простота и удобство</div>
                <div class="advantages__switch --svg__advantages-switch_icon-after">Экономия времени и ресурсов</div>
                <div class="advantages__switch --svg__advantages-switch_icon-after">Доверие и лояльность клиентов</div>
                <div class="advantages__switch --svg__advantages-switch_icon-after">Актуальная <br> информация</div>
                <div class="advantages__switch --svg__advantages-switch_icon-after">Прием платежей</div>
                <div class="advantages__switch --svg__advantages-switch_icon-after">Ваш успех в цифрах</div>
            </div>
            <div class="advantages__slides-wrapper">
                <a href="https://t.me/justlavkabot" class="advantages__button"><button>Создать интернет-магазин</button></a>

                <div class="advantages__slide hide show">
                    <h3 class="advantages__slide-title --svg__advantages-slide1_icon-before">Простота и удобство</h3>
                    <div class="advantages__slide-descr">
                        Благодаря легкости использования платформы, даже люди без опыта в веб-разработке смогут легко создать свой собственный магазин.
                    </div>
                </div>
                <div class="advantages__slide hide">
                    <h3 class="advantages__slide-title --svg__advantages-slide2_icon-before">Экономия времени и ресурсов</h3>
                    <div class="advantages__slide-descr">
                        JustLavka автоматизирует множество процессов, связанных с продажами. От выдачи товара по факту оплаты до уведомлений о новых поступлениях — всё это берет на себя платформа
                    </div>
                </div>
                <div class="advantages__slide hide">
                    <h3 class="advantages__slide-title --svg__advantages-slide3_icon-before">Доверие и лояльность клиентов</h3>
                    <div class="advantages__slide-descr">
                        Важной частью успешной торговли является доверие клиентов. Создание собственного магазина-бота в Telegram позволяет установить прочные связи с клиентами, повысить их доверие и сделать их постоянными покупателями. 
                    </div>
                </div>
                <div class="advantages__slide hide">
                    <h3 class="advantages__slide-title --svg__advantages-slide4_icon-before">Актуальная информация</h3>
                    <div class="advantages__slide-descr">
                        Ваш клиент всегда будет видеть актуальное количество товаров и получать информацию о новых предложениях. Это способствует удержанию клиентов и более успешным сделкам. 
                    </div>
                </div>
                <div class="advantages__slide hide">
                    <h3 class="advantages__slide-title --svg__advantages-slide5_icon-before">Прием платежей</h3>
                    <div class="advantages__slide-descr">
                        Принимайте платежи от клиентов с помощью TONcoin — надежной и быстрой криптовалюты. Это обеспечивает безопасные транзакции и удобство для вас и ваших клиентов.
                    </div>
                </div>
                <div class="advantages__slide hide">
                    <h3 class="advantages__slide-title --svg__advantages-slide6_icon-before">Ваш успех в цифрах</h3>
                    <div class="advantages__slide-descr">
                        Доступ к статистике продаж за разные временные периоды. Принимайте решения на основе фактов и оптимизируйте свой бизнес для максимальных результатов.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>