.advantages{
    padding-top: 7.6rem;
    padding-bottom: 11.5rem;
    background: #5BB2D9;
    .advantages__wrapper{
        margin-top: 7rem;
        .advantages__switches{
            width: 36rem;
            padding: 3rem 0;
            gap: 4.5rem;
            border-right: #fff 0.3rem solid;
            .advantages__switch{
                width: 26.4rem;
                font-size: 2.2rem;
                font-weight: 400;
                line-height: 110%;
            }
            .advantages__switch:hover, .advantages__switch-active{
                color: #fff;
                font-weight: 600;
                position: relative;
            }
            .advantages__switch-active::after{
                @include bg;
                width: 3.6rem;
                height: 3.6rem;
                display: inline-block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 34.17rem;
            }
        }
        .advantages__slides-wrapper{
            width: 76rem;
            height: 45.5rem;
            position: relative;
            border-radius: 1rem;
            .advantages__button{
                width: 56rem;
                height: 7.6rem;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -3rem;
                z-index: 2;
            }
            .advantages__slide{
                border-radius: 0.5rem;
                width: 100%;
                height: 100%;
                padding-top: 14.7rem;
                position: relative;
                border-radius: 1rem;
                z-index: 1;
                .advantages__slide-title{
                    font-size: 3.2rem;
                    font-weight: 600;
                    line-height: 110%;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 2.3rem;
                }
                .advantages__slide-title::before{
                    @include bg;
                    display: inline-block;
                    min-width: 7.2rem;
                    min-height: 7.2rem;
                }
                .advantages__slide-descr{
                    margin: 0 auto;
                    margin-top: 4.2rem;
                    width: 56rem;
                    font-size: 2rem;
                    font-weight: 500;
                    text-align: center;
                    line-height: 110%;
                }
            }
            .advantages__slide::before{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                backdrop-filter: blur(0.35rem);
                z-index: -1;
                border-radius: 1rem;
            }
            .advantages__slide:nth-child(2){
                background: linear-gradient(180deg, rgba(126, 187, 226, 0.00) 0%, rgba(118, 184, 226, 0.67) 78.29%, #75B7E2 96.15%), url(../img/advantages/advantages-slide1_bg.webp), lightgray -26.498px -434.916px / 105.469% 220.209% no-repeat;
            }
            .advantages__slide:nth-child(3){
                background: linear-gradient(180deg, rgba(126, 187, 226, 0.00) 0%, rgba(118, 184, 226, 0.67) 78.29%, #75B7E2 96.15%), url(../img/advantages/advantages-slide2_bg.webp), lightgray -26.498px -434.916px / 105.469% 220.209% no-repeat;
            }
            .advantages__slide:nth-child(4){
                background: linear-gradient(180deg, rgba(126, 187, 226, 0.00) 0%, rgba(118, 184, 226, 0.67) 78.29%, #75B7E2 96.15%), url(../img/advantages/advantages-slide3_bg.webp), lightgray -26.498px -434.916px / 105.469% 220.209% no-repeat;
            }
            .advantages__slide:nth-child(5){
                background: linear-gradient(180deg, rgba(126, 187, 226, 0.00) 0%, rgba(118, 184, 226, 0.67) 78.29%, #75B7E2 96.15%), url(../img/advantages/advantages-slide4_bg.webp), lightgray -26.498px -434.916px / 105.469% 220.209% no-repeat;
            }
            .advantages__slide:nth-child(6){
                background: linear-gradient(180deg, rgba(126, 187, 226, 0.00) 0%, rgba(118, 184, 226, 0.67) 78.29%, #75B7E2 96.15%), url(../img/advantages/advantages-slide5_bg.webp), lightgray -26.498px -434.916px / 105.469% 220.209% no-repeat;
            }
            .advantages__slide:nth-child(7){
                background: linear-gradient(180deg, rgba(126, 187, 226, 0.00) 0%, rgba(118, 184, 226, 0.67) 78.29%, #75B7E2 96.15%), url(../img/advantages/advantages-slide6_bg.webp), lightgray -26.498px -434.916px / 105.469% 220.209% no-repeat;
            }
        }
    }
}