<section class="why-telegram">
    <div class="container">
        <h2 class="why-telegram__title title"><span>Почему</span> Telegram</h2>
        <div class="why-telegram__wrapper flex ">
            @@include('../card/card.html',{
                "title": "Глобальное покрытие",
                "descr": "Telegram - это один из самых популярных мессенджеров в мире с миллионами пользователей. Создавая магазин в Telegram, вы получаете доступ к огромной аудитории.",
                "num": "1" 
            })

            @@include('../card/card.html',{
                "title": "Постоянное взаимодействие",
                "descr": "магазин в Telegram позволит вам поддерживать постоянное взаимодействие с клиентами через уведомления, рассылки и обратную связь.",
                "num": "2" 
            })

            @@include('../card/card.html',{
                "title": "Доверие и безопасность",
                "descr": "Telegram известен своим высоким уровнем безопасности и конфиденциальности. Это создает доверие среди пользователей, что может стимулировать больше покупок.",
                "num": "3" 
            })
        </div>
    </div>
    @@include('../parallax_phones/parallax_phones.html')
</section>