@media (max-width: 1199px) {
    html{
        font-size: 1vw;
    }

    .container{
        width: 76rem;
    }

    .header{
        .container{
            width: 96rem;
        }
        .header__descr{
            font-size: 1.2rem;
        }
    }

    .promo{
        background: 
        url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='157' height='857' fill='none'%3E%3Cpath d='M114.228-17C67.372-3.73 2 88.782 2 204.801c0 150.521 112.228 271.09 143.591 387.109 36.022 133.251-39.173 233.175-94.09 271.09' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='5 5'/%3E%3C/svg%3E")
        7.7rem 0 no-repeat / contain, 
        url(../img/promo/promo_bg.webp) 100% 100% no-repeat / cover;
        padding-top: 11.6rem;
        padding-bottom: 22.3rem;
        .container{
            width: 85.6rem;
        }
        .promo__wrapper{
            margin-top: 11.6rem;
            .promo__logo-wrap{
                width: 15.6rem;
                height: 15.6rem;
                .promo__logo{
                    width: 8.8rem;
                    height: 8.8rem;
                }
            }
            .promo__info{
                width: 66rem;
                .promo__title{
                    font-size: 4.8rem;
                }
                .promo__descr{
                    margin-top: 2rem;
                    font-size: 1.6rem;
                }
                .promo__button{
                    margin-top: 5.3rem;
                    width: 35.9rem;
                    height: 7.6rem;
                }
            }
            .promo__plane{
                width: 28.9rem;
                height: 25.3rem;
                top: 22rem;
                left: 56.3rem;
            }
        }
        .promo__tracer{
            width: 39.3rem;
            height: 25rem;
            left: 33rem;
        }
    
    }

    .why-telegram{
        padding-top: 9.8rem;
        background: linear-gradient(180deg, rgba(167, 226, 255, 0.00) 0%, #A7E2FF 100%),
        url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='1000' height='836' fill='none'%3E%3Cpath d='M1722.23 1.77c2.14 114.762-173.1 333.147-452.54 424.509-362.542 118.532-734.628-36.37-1036.898-14.831-347.165 24.739-533.111 270.828-584.459 422.945' stroke='%23A7E2FF' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='5 5'/%3E%3C/svg%3E")
        0 50% no-repeat / contain;
        .why-telegram__wrapper{
            margin-top: 5.7rem;
            width: 77rem;
            .card{
                pointer-events: none; 
            }
        }
        .parallax-phones{
            width: 131.4rem;
            height: 222.2rem;
            top: -39%;
        }
    }

    .create-shop{
        padding-top: 7.9rem;
        .container{
            width: 86rem;
            margin-left: 12rem;
        }
        .create-shop__text{
            .create-shop__title{
                margin-top: 0;
            }
            .create-shop__list{
                margin-top: 9.6rem;
                gap: 3.4rem;
                li{
                    font-size: 2rem;
                }
                .create-shop__active::after{
                    position: absolute;
                    left: 28rem;
                    top: 3rem;
                }
            }
        }
        .create-shop__pic-frame{
            margin-top: 5.3rem;
            width: 35.4rem;
            height: 75.2rem;
            padding: 1.6rem 1.6rem 9.3rem 1.6rem;
        }
    }

    .advantages{
        padding-bottom: 8.8rem;
        .advantages__wrapper{
            margin-top: 2rem;
            .advantages__switches{
                width: 22.8rem;
                gap: 4.7rem;
                border-right: #fff 0.2rem solid;
                .advantages__switch{
                    width: 20.3rem;
                    font-size: 1.8rem;
                }
                .advantages__switch-active::after{
                    width: 2.6rem;
                    height: 2.6rem;
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 21.35rem;
                }
            }
            .advantages__slides-wrapper{
                margin-top: 3rem;
                width: 50rem;
                height: 39.4rem;
                .advantages__button{
                    width: 40rem;
                    height: 6.5rem;
                }
                .advantages__slide{
                    padding-top: 13.5rem;
                    .advantages__slide-title{
                        gap: 1.9rem;
                        margin: 0 auto;
                        width: 46.5rem;
                    }
                    .advantages__slide-title::before{
                        width: 6rem;
                        height: 6rem;
                    }
                    .advantages__slide-descr{
                        margin-top: 3.6rem;
                        width: 40rem;
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }


    .free-access{
        padding-top: 9.2rem;
        min-height: 58.3rem;
        .container{
            gap: 1.7rem;
            width: 86.5rem;
            margin-left: 1.5rem;
            .free-access__pic{
                width: 38.8rem;
                height: 50rem;
            }
            .free-access__text{
                padding-top: 1.3rem;
                width: 46rem;
                .free-access__descr{
                    margin-top: 3.9rem;
                    font-size: 2rem;
                }
                .free-access__button:nth-child(3){
                    margin-top: 3.9rem;
                }
                .free-access__button:nth-child(4){
                    margin-top: 2.7rem;
                }
            }
        }
    }

    .footer{
        padding-top: 4.8rem;
        .footer__text{
            margin-top: 2rem;
            flex-direction: column;
            justify-content: flex-start;
            gap: 2.8rem;
            .footer__descr{
                width: 44.3rem;
                margin-top: 0;
                font-size: 1.8rem;
            }
            .footer__contacts{
                .footer__button{
                    width: 56rem;
                }
                .footer__plane-wrapper{
                    left: 39rem;
                }
            }
        }
        .footer__bottom{
            margin-top: 8.7rem;
        }
    }
}