<section class="promo">
    <div class="container">
        <div class="promo__top-title --svg__promo-title"></div>
        <div class="promo__wrapper flex --just-space">
            <div class="promo__logo-wrap flex --just-center --align-center">
                <div class="promo__logo --svg__logo"></div>
            </div>
            <div class="promo__info">
                <h1 class="promo__title">Создайте свой успешный магазин в Telegram с <span>Just</span>Lavka</h1>
                <div class="promo__descr">
                    Платформа для быстрого и удобного создания магазина в Telegram. <br> 
                    Продавайте свои цифровые товары с комфортом!
                </div>
                <div class="promo__button">
                    @@include('../button/button.html', {
                        "text": "Создать интернет-магазин",
                        "additional": ""
                    })
                </div>
            </div>
            <div class="promo__plane --svg__plane"></div>
        </div>
        <div class="promo__tracer --svg__promo-small-curve"></div>
    </div>

</section>