.promo{
    background: 
    url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='206' height='1080' fill='none'%3E%3Cpath d='M150-17.5C88 0 1.5 122 1.5 275c0 198.5 148.5 357.5 190 510.5C239.164 961.225 139.667 1093 67 1143' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='5 5'/%3E%3C/svg%3E")
    41.6rem 0 no-repeat / contain, 
    url(../img/promo/promo_bg.webp) 100% 100% no-repeat / cover;
    padding-top: 11.6rem;
    padding-bottom: 28rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
    .promo__top-title{
        width: 26rem;
        height: 5.5rem;
        margin: 0 auto;
        @include bg;
    }
    .promo__wrapper{
        margin-top: 21rem;
        position: relative;
        .promo__logo-wrap{
            width: 26rem;
            height: 26rem;
            border-radius: .2rem;
            background: #187bb2;
            .promo__logo{
                width: 14.7rem;
                height: 14.7rem;
                @include bg;
            }
        }
        .promo__info{
            width: 76rem;
            .promo__title{
                font-size: 6rem;
                font-weight: 800;
                line-height: 110%;
                span{
                   color: #187BB2; 
                }
            }
            .promo__descr{
                margin-top: 2.4rem;
                font-size: 2rem;
                font-weight: 300;
                line-height: 110%;
            }
            .promo__button{
                margin-top: 8rem;
                width: 46rem;
                height: 7.6rem;
            }
        }
        .promo__plane{
            @include bg;
            width: 41rem;
            height: 36rem;
            position: absolute;
            top: 19rem;
            left: 93.3rem;
        }
    }
    .promo__tracer{
        @include bg;
        width: 55.8rem;
        height: 35.5rem;
        position: absolute;
        bottom: -2rem;
        left: 84rem;
        z-index: -1;
    }

}