<section class="create-shop">
    <div class="container flex --just-space">
        <div class="create-shop__text">
            <h2 class="create-shop__title title"><span>Как создать</span> магазин</h2>
            <ol class="create-shop__list flex --dir-col">
                <li class="--svg__create_shop__arrow-after create-shop__active">Пройдите по&nbsp<a href="#">ссылке</a></li>
                <li>Заполните настройки магазина</li>
                <li>Добавьте товары в каталог</li>
                <li>Ваш магазин Готов! Начинайте продавать</li>
            </ol>
        </div>
        <div class="create-shop__pic-frame --svg__create_shop__pic">
            <div class="create-shop__pic-screen create-shop__pic-screen-slide1"></div>
        </div>
    </div>
</section>