.parallax_phones{
    width: 169.4rem;
    height: 267.5rem;
    transform: rotate(30deg);
    .parallax_phones__phone{
        background: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='206' height='1080' fill='none'%3E%3Cpath d='M150-17.5C88 0 1.5 122 1.5 275c0 198.5 148.5 357.5 190 510.5C239.164 961.225 139.667 1093 67 1143' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='5 5'/%3E%3C/svg%3E")
        100% 100% no-repeat / contain;
        width: 39.7rem;
        height: 80.8rem;
    }
}