<div class="parallax-phones add-transition">
    <div class="parallax-phones__wrapper flex --dir-col">
        <div class="parallax-phones__phone --svg__phone_frame">
            <div class="parallax-phones__screen flex --just-center">
                <div class="parallax-phones__front-cam --svg__front-cam"></div>
            </div>
        </div>
        <div class="parallax-phones__phone --svg__phone_frame">
            <div class="parallax-phones__screen flex --just-center">
                <div class="parallax-phones__front-cam --svg__front-cam"></div>
            </div>
        </div>
        <div class="parallax-phones__phone --svg__phone_frame">
            <div class="parallax-phones__screen flex --just-center">
                <div class="parallax-phones__front-cam --svg__front-cam"></div>
            </div>
        </div>
        <div class="parallax-phones__phone --svg__phone_frame">
            <div class="parallax-phones__screen flex --just-center">
                <div class="parallax-phones__front-cam --svg__front-cam"></div>
            </div>
        </div>
    </div>
    <div class="parallax-phones__phone parallax-phones__phone-5 --svg__phone_frame">
        <div class="parallax-phones__screen flex --just-center">
            <div class="parallax-phones__front-cam --svg__front-cam"></div>
        </div>
    </div>
</div>