.parallax-phones{
    width: 169.4rem;
    height: 267.5rem;
    position: absolute;
    left: 9%;
    top: -71%;
    transform: rotate(30deg);
    z-index: 0;
    .parallax-phones__wrapper{
        width: 85rem;
        height: 211.1rem;
        margin-right: 0;
        margin-left: auto;
        flex-wrap: wrap;
        gap: 5rem 5.42rem ;
        .parallax-phones__phone:nth-child(3){
            margin-top: 44.5rem;
        }
    }
    .parallax-phones__phone{
        @include bg;
        width: 39.7rem;
        height: 80.8rem;
        padding: 2rem;
        .parallax-phones__screen{
            width: 100%;
            height: 100%;
            border-radius: 5rem;
            .parallax-phones__front-cam{
                @include bg;
                width: 1.82rem;
                height: 1.82rem;
                margin-top: 1.75rem;
            }
        }
    }
    .parallax-phones__phone:nth-child(1){
        .parallax-phones__screen{
            background: url(../img/parallax_phones/phone1_bg.webp) 100% 100% no-repeat / cover;
        }
    }
    .parallax-phones__phone:nth-child(2){
        .parallax-phones__screen{
            background: url(../img/parallax_phones/phone2_bg.webp) 100% 100% no-repeat / cover;
        }
    }
    .parallax-phones__phone:nth-child(3){
        .parallax-phones__screen{
            background: url(../img/parallax_phones/phone3_bg.webp) 100% 100% no-repeat / cover;
        }
    }
    .parallax-phones__phone:nth-child(4){
        .parallax-phones__screen{
            background: url(../img/parallax_phones/phone4_bg.webp) 100% 100% no-repeat / cover;
        }
    }

    .parallax-phones__phone-5{
        position: absolute;
        left: 0;
        bottom: 0;
        .parallax-phones__screen{
            background: url(../img/parallax_phones/phone5_bg.webp) 100% 100% no-repeat / cover !important; 
        }
    }
}